/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-weight: var(--font-weight-text);
  background-color: var(--background-color, #ffffff);
  color: var(--text-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: local;
  text-align: center;
}

.header {
  border: 2px black solid;
  background-color: var(--background-color);
  inline-size: 48%;
  display: inline-block;
  margin-block-start: 100px;
  margin-block-end: 100px;
}

.post {
  border: 2px black solid;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  inline-size: 48%;
  margin: 0 auto;
  margin-block-end: 50px;
}

.heading {
  text-align: left;
  margin-inline-start: 10px;
  margin-block-start: 3px;
  margin-block-end: 3px;
}
