/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/*СТРАНИЦА*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-weight: var(--font-weight-text);
  background-color: var(--background-color, #ffffff);
  color: var(--text-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: local;
  text-align: center;
}

/*HEADER*/
.header {
  border: 2px black solid;
  background-color: var(--background-color);
  inline-size: 48%;
  display: inline-block;
  margin-block-start: 100px;
  margin-block-end: 100px;
}

/*ЗАГОЛОВОК h1*/
.header__title {
  justify-content: center;
  font-family: var(--accent-font);
  padding-block-start: 136px;
  font-size: clamp(0.875rem, -0.2514rem + 4.7932vw, 4.0625rem);
}

/*ПОДЗАГОЛОВОК h2*/
.header__subtitle {
  justify-content: center;
  font-family: var(--accent-font);
  margin-block-start: 20px;
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.6762rem + 0.8459vw, 1.4375rem);
  text-transform: uppercase;
}

/*КНОПКА В СОСТОЯНИИ НАВЕДЕНИЯ*/
button:hover {
  cursor: pointer;
}

/*КНОПКА В Tab*/
button:focus {
  outline: none;
}

/*КНОПКА МЕНЮ*/
.theme-menu__button {
  all: unset;
  position: relative;
  margin-block-end: 14px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-size: 14px;
}

/*НАЖАТАЯ КНОПКА МЕНЮ*/
.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

/*НАЧ СОСТОЯНИЕ ПОДЧЕРКИВАНИЯ КНОПКИ МЕНЮ Tab*/
.theme-menu__button:before {
  position: absolute;
  border-bottom: 2px var(--text-color) solid;
  opacity: 0.6;
  content: "";
  width: 0%;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transform: scale(0, 1);
}

/*КОНЕЧ СОСТОЯНИЕ ПОДЧЕРКИВАНИЯ КНОПКИ МЕНЮ Tab*/
.theme-menu__button:focus:before {
  position: absolute;
  width: 100%;
  bottom: -4px;
  transform: scale(1, 1);
}

/*ТРЕУГОЛЬНИК ПЕРЕД КНОПКОЙ МЕНЮ*/
.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  border: none;
  animation: arrow 0.5s infinite alternate ease-in-out;
  left: -20px;
}

/*КНОПКА МЕНЮ В СОСТОЯНИИ НАВЕДЕНИЯ*/
.theme-menu__button:hover {
  opacity: 0.6;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

/*КАРТОЧКА*/
.post {
  border: 2px black solid;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  inline-size: 48%;
  margin: 0 auto;
  margin-block-end: 50px;
}

/*ЗАГОЛОВОК КАРТОЧКИ h3*/
.heading {
  text-align: left;
  margin-inline-start: 10px;
  margin-block-start: 3px;
  margin-block-end: 3px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 21.78px;
}

/*ТЕКСТ КАРТОЧКИ*/
.text {
  margin-inline-start: 25px;
  margin-inline-end: 25px;
  margin-block-start: 25px;
  text-align: start;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/*БЛОК СЕРДЕЧКА И ЛАЙКА*/
.post-button {
  display: flex;
  width: 169px;
  height: 38px;
  margin-block-start: 25px;
  margin-block-end: 25px;
  align-self: self-end;
  margin-inline-end: 25px;
}

/*КНОПКА, ОБОРАЧИВАЮЩАЯ ИКОНКУ СЕРДЕЧКА*/
.card__icon-button {
  all: unset;
  width: 39px;
  height: 36px;
  margin-inline-end: 12px;
}

/*КНОПКА LIKE*/
.card__like-button {
  all: unset;
  position: relative;
  width: 130px;
  height: 36px;
  border: 2px black solid;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
}

/*КНОПКА LIKE В Tab*/
.card__like-button:focus {
  box-shadow: 2px 2px 0 0 var(--text-color);
}

/*НАЧ СОСТОЯНИЕ ЗАЛИВКИ КНОПКИ LIKE ПРИ НАВЕДЕНИИ */
.card__like-button:before {
  position: absolute;
  content: "";
  width: 0;
  transform: translate(-100%);
}

/*КОНЕЧ СОСТОЯНИЕ ЗАЛИВКИ КНОПКИ LIKE ПРИ НАВЕДЕНИИ*/
.card__like-button:hover:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  left: -10%;
  top: 0;
  transform: translate(10%);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

/*ТЕКСТ КНОПКИ*/
.button__text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
}

/*КНОПКА В FOOTER*/
.footer__button {
  all: unset;
  position: relative;
  border: 2px black solid;
  background-color: #ffffff;
  inline-size: 23%;
  padding-block-start: 15px;
  padding-block-end: 18.5px;
  transition-duration: 0.3s;
  overflow: hidden;
}

/*КНОПКА FOOTER В Tab*/
.footer__button:focus {
  box-shadow: 2px 2px 0 0 var(--text-color);
}

/*НАЧ СОСТОЯНИЕ ЗАЛИВКИ КНОПКИ FOOTER ПРИ НАВЕДЕНИИ*/
.footer__button:before {
  position: absolute;
  content: "";
  width: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform: translate(-100%);
}

/*КОНЕЧ СОСТОЯНИЕ ЗАЛИВКИ КНОПКИ FOOTER ПРИ НАВЕДЕНИИ*/
.footer__button:hover:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  transform: translate(10%);
  left: -10%;
  top: 0;
}

/*ИКОНКА ДИСКЕТЫ*/
.floppy_icon {
  width: 21px;
  height: 21px;
  margin-inline-end: 3.5px;
}
