/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/*Страница*/
.page {
  min-inline-size: 320px;
  max-height: 7030px;
  /* min-block-size: 100dvb;*/
  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght" 400;
  background-color: var(--background-color, #ffffff);
  color: var(--text-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  margin-bottom: 0;
}

/*Шапка*/
.header {
  border: 2px var(--text-color) solid;
  background-color: var(--background-color);
  inline-size: 48%;
  display: inline-block;
  margin-block-start: 100px;
  margin-block-end: 100px;
}

/*Заголовок h1*/
.header__title {
  justify-content: center;
  font-family: var(--accent-font);
  padding-block-start: 136px;
  font-size: clamp(1.1875rem, 0.1752rem + 4.3192vw, 4.0625rem);
}

.header__title a {
  text-decoration: none;
}

/*Подзаголовок h2*/
.header__subtitle {
  justify-content: center;
  font-family: var(--accent-font);
  margin-block-start: 20px;
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.6762rem + 0.8459vw, 1.4375rem);
  text-transform: uppercase;
}

/*Кнопка при наведении*/
button:hover {
  cursor: pointer;
}

/*Кнопка в Tab*/
button:focus {
  outline: none;
}

/*Кнопка меню*/
.theme-menu__button {
  all: unset;
  position: relative;
  margin-block-end: 14px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-size: 14px;
}

/*Нажатая кнопка меню*/
.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

/* Нач состояние подчеркивания кнопки меню Tab*/
.theme-menu__button:before {
  position: absolute;
  border-bottom: 2px var(--text-color) solid;
  opacity: 0.6;
  content: "";
  width: 0%;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transform: scale(0, 1);
}

/*Конеч состояние подчеркивания кнопки меню Tab*/
.theme-menu__button:focus:before {
  position: absolute;
  width: 100%;
  bottom: -4px;
  transform: scale(1, 1);
}

/*Треугольник перед кнопкой меню*/
.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  border: none;
  animation: arrow 0.5s infinite alternate ease-in-out;
  left: -20px;
}

/*Кнопка меню при наведении*/
.theme-menu__button:hover {
  opacity: 0.6;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

/*Карточка*/
.post {
  border: 2px var(--text-color) solid;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  inline-size: 48%;
  margin: 0 auto;
  margin-block-end: 50px;
}

/*Заголовок карточки h3*/
.heading {
  text-align: left;
  margin-inline-start: 10px;
  margin-block-start: 3px;
  margin-block-end: 3px;
  font-family: var(--main-font);
  font-variation-settings: "wght" 700;
  font-size: 18px;
  line-height: 21.78px;
}

/*Текст карточки*/
.text {
  margin-inline-start: 25px;
  margin-inline-end: 25px;
  margin-block-start: 25px;
  text-align: start;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/*Блок сердца и лайка*/
.post-button {
  display: flex;
  width: 169px;
  margin-block-start: 25px;
  margin-block-end: 25px;
  align-self: self-end;
  margin-inline-end: 25px;
}

/*Кнопка, оборачивающая иконку сердца*/
.card__icon-button {
  all: unset;
  width: 39px;
  height: 36px;
  margin-inline-end: 12px;
}

/*Кнопка лайк*/
.card__like-button {
  all: unset;
  position: relative;
  width: 130px;
  height: 36px;
  border: 2px var(--text-color) solid;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  z-index: 1;
  background-color: var(--background-color);
}

/*Кнопка лайк в Tab*/
.card__like-button:focus {
  box-shadow: 2px 2px 0 0 var(--text-color);
}

/*Нач состояние заливки кнопки лайк и футер-кнопки при наведении*/
.change:before {
  position: absolute;
  content: "";
  width: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform: translate(-100%);
  z-index: 1;
}

/* Конеч состояние заливки кнопки лайк и футер-кнопки при наведении*/
.change:hover:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  left: -10%;
  top: 0;
  transform: translate(10%);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

/*Текст кнопки лайк и футер-кнопки*/
.button__text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  z-index: 2;
  position: relative;
  color: var(--text-color);
  transition: color 0.6s;
}

span {
  display: inline-block;
}

/*Текст кнопки лайк и футер-кнопки при наведении*/
.button__text:hover {
  background-blend-mode: difference;
  color: var(--background-color);
  z-index: 3;
}

/*Футер-кнопка*/
.footer__button {
  all: unset;
  position: relative;
  border: 2px var(--text-color) solid;
  background-color: var(--background-color);
  inline-size: 23%;
  padding-block-start: 15px;
  padding-block-end: 18.5px;
  overflow: hidden;
  margin-bottom: 0;
}

/*Футер-кнопка в Tab*/
.footer__button:focus {
  box-shadow: 2px 2px 0 0 var(--text-color);
}

/*Иконка дискеты*/
.floppy_icon {
  position: relative;
  left: 0;
  width: 21px;
  height: 21px;
  margin-inline-end: 3.5px;
  color: var(--text-color);
  z-index: 2;
}

.floppy_icon:hover {
  background-blend-mode: difference;
  color: var(--background-color);
  fill: var(--background-color);
  z-index: 3;
}

/*(!!! ЕЁ ЗАКРЫВАЕТ ПОЛОСА ЗАГРУЗКИ) Иконка дискеты при наведении*/
.floppy_icon:hover {
  z-index: 4;
  position: relative;
  mix-blend-mode: difference;
  fill: var(--background-color);
}

/*Убрала дефолт знач-е кнопки сердца при Tab*/
.card__icon-button:focus {
  outline: none;
}

/*Кнопка сердца при Tab*/
.card__icon-button:focus-visible {
  border: 2px solid var(--text-color);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

/*Модальное окно*/
dialog {
  display: grid;
  border: var(--text-color) solid 2px;
  background-color: var(--background-color);
}

/*Скрыли модальное окно*/
dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

/*Св-ва модального окна*/
dialog [open] {
  inline-size: 353px;
}

/*Задний фон*/
dialog::backdrop {
  background-color: black;
  opacity: 0.75;
}

/*Иконка в модальном окне*/
.dialog-floppy_icon {
  position: absolute;
  left: 30px;
  top: 42px;
  width: 39px;
  height: 39px;
  color: var(--text-color);
}

/*Текст в модальном окне*/
.dialog-content {
  inline-size: 293px;
  /*block-size: 63px;*/
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-inline-start: 75px;
  padding-inline-end: 70px;
  margin-block-start: 15px;
  margin-block-end: 30px;
  text-align: left;
  color: var(--text-color);
}

/*Кнопка в модальном окне*/
.dialog-button {
  all: unset;
  position: relative;
  border: 2px solid var(--text-color);
  inline-size: 90%;
  block-size: 38px;
  margin-inline-start: 15px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  overflow: hidden;
}

.dialog-button:focus {
  box-shadow: 2px 2px 0 0 var(--text-color);
}

/*Без данного селектора не видно лейбла. К тому же, в требованиях к проекту написано "Для этого вокруг изображения придётся создать обёртку, в этом контейнере будет лежать изображение и текстовый элемент."*/
.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/*Лейбл*/
.label {
  position: absolute;
  top: 27px;
  right: 25px;
  z-index: 3;
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--text-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  -webkit-text-stroke: 1px var(--text-stroke);
  text-shadow: 1px var(--text-stroke);
}

@supports (-webkit-text-stroke: var(--text-stroke)) {
  .label {
    -webkit-text-stroke: 1px var(--text-stroke);
    text-shadow: none;
  }
}

/*Фильтры для изображений*/

.picture {
  position: relative;
  background-size: cover;
  width: 100%;
  z-index: 1;
  border-bottom: var(--text-color) 2px solid;
  border-top: var(--text-color) 2px solid;
}

.sun {
  filter: brightness(110%);
}

.focus {
  filter: contrast(110%);
}

.office {
  filter: grayscale(0.8);
}

.study {
  filter: blur(0.1rem);
}

.table {
  filter: opacity(0.9);
}

.clock {
  filter: saturate(158%);
}

.designer {
  filter: hue-rotate(-90deg);
}

.library {
  filter: hue-rotate(-45deg) contrast(110%);
}

@media (width <= 375px) and (orientation: portrait) {
  /*Страница*/
  .page {
    margin: 0;
    min-height: 100dvh;
    min-width: 100dvw;
  }

  /*Шапка*/
  .header {
    min-height: 50dvh;
    min-width: 100dvw;
    margin: 102px 0;
  }

  /*Заголовок h1*/
  .header__title {
    font-size: clamp(1.875rem, -5.0341rem + 34.5455vw, 3.0625rem);
    padding-block-start: 120px;
  }

  /*Подзаголовок h2*/
  .header__subtitle {
    font-size: clamp(0.625rem, -0.8295rem + 7.2727vw, 0.875rem);
    margin-block-end: 25px;
  }

  /*Карточка*/
  .post {
    min-height: 100dvh;
    min-inline-size: 100dvw;
    margin-block-end: 50px;
  }

  /*Заголовок карточки h3*/
  .heading {
    margin-inline-end: 30px;
    margin-block-end: 7px;
  }

  /*Текст карточки*/
  .text {
    margin-block-start: 27px;
  }

  /*Футер-кнопка*/
  .footer__button {
    inline-size: 82%;
    block-size: 8dvh;
  }

  /*Иконка дискеты*/
  .floppy_icon {
    width: 28px;
    height: 28px;
    left: 45%;
    top: 20px;
    position: absolute;
  }
  /*Tекст футер-кнопки*/
  .button__finish {
    margin-block-start: 32px;
  }

  /*Св-ва модального окна*/
  dialog [open] {
    border: 2px;
    inline-size: 341px;
  }

  /*Иконка в модальном окне*/
  .dialog-floppy_icon {
    left: 30px;
    top: 42px;
  }

  /*Текст в модальном окне*/
  .dialog-content {
    inline-size: 198px;
    margin-inline-start: 75px;
    margin-block-start: 22px;
    margin-block-end: 25px;
    padding: 0;
  }

  /*Кнопка в модальном окне*/
  .dialog-button {
    all: unset;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    inline-size: 70%;
    block-size: 38px;
    margin-inline-start: 42px;
    font-family: var(--accent-font);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden;
  }
}
