/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

/*ПЕРЕМЕННЫЕ ДЛЯ СВЕТЛОЙ ТЕМЫ*/
:root.theme-light {
  --font-weight-heading: 700;
  --font-weight-text: 400;
  --background-color: #ffffff;
  --text-color: #000000;
  --text-stroke: #ffffff;
  --background-image: repeating-linear-gradient(
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a);
}

/*ПЕРЕМЕННЫЕ ДЛЯ ТЕМНОЙ ТЕМЫ*/
:root.theme-dark {
  --font-weight-heading: 785;
  --font-weight-text: 465;
  --background-color: #000000;
  --text-color: #00cc14;
  --text-stroke: #000000;
  --background-image: repeating-linear-gradient(
      #000,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      #000,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(180deg, #007f0c, #004306);
}

/*ПРЕДПОЧТ СВЕТЛОЙ ТЕМЫ*/
@media (prefers-color-scheme: light) {
  :root.theme-light {
    --font-weight-heading: 700;
    --font-weight-text: 400;
    --background-color: #ffffff;
    --text-color: #000000;
    --background-image: repeating-linear-gradient(
        #d3d3d3,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        90deg,
        #d3d3d3,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a);
  }

  .page {
    font-weight: var(--font-weight-text);
  }

  .background {
    background-image: var(--background-image);
  }
}

/*ПРЕДПОЧТ ТЕМНОЙ ТЕМЫ*/
@media (prefers-color-scheme: dark) {
  :root.theme-dark {
    --font-weight-heading: 785;
    --font-weight-text: 465;
    --background-color: #000000;
    --text-color: #00cc14;
    --background-image: repeating-linear-gradient(
        #000,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        90deg,
        #000,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(180deg, #007f0c, #004306);
  }

  .background {
    background-image: var(--background-image);
  }
}
