/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: "Inter", sans-serif;
  --accent-font: "PressStart2P";
  --main-font-light-weight: 400;
  --heading-font-weight-light: 700;
  --heart-color: red;
  --font-variation-settings: "wght" 400;
}
